/*  Make Transparent */
/*:root {*/
/*    opacity: 0.96;*/
/*}*/


/* Channels, DM Channels, User List */
.container-1taM1r,
.sidebar-2K8pFh,
.members-1998pB {
	width: 290px;
}

/* Match width of Userlist & DM Userlist content */
.member-3-YXUe,
.channel-2QD9_O {
	max-width: 290px;
}

/* ServerCount */
.label-2wRs_g,
.serverCount-FsTTs1 {
    font-size: 8px;
}

/* Serverlist */
.guilds-1SWlCJ {
	width: 65px;
}

/* underline roles in memberlist & DMs */
.members-1998pB .membersGroup-v9BXpm, .private-channels header {
    text-align: center;
    overflow: visible;
    margin-bottom: 10px;
}

.members-1998pB .membersGroup-v9BXpm::after, .private-channels header::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    border-bottom: 2px solid white;
}

.private-channels header::after {
    padding-bottom: 10px;
}

/* underline labels in channellist */
.containerDefault-3tr_sE {
    padding-top: 1px;
    padding-right: 8px;
    padding-left: 15px;
    padding: 0 0 2px 0;
    height: auto;
    margin: 2px 5px 2px 5px;
    border-bottom: 2px solid white;
}

/* center channel names and push slightly left */
.name-3l27Hl {
    text-align: center;
    padding-right: 20px;
}
